<%- include("nav.ejs"); -%>

  <div class="container">
    <div class="flight" id="flight1">
      <img class="img1" src="https://assets.cntraveller.in/photos/62f221ad30bfdf56888504b0/master/w_4633,h_3088,c_limit/1215861035" alt="Flight 1">
      <p>Flight 1</p>
    </div>
    
    <div class="flight" id="flight2">
      <img src="https://m.economictimes.com/thumb/msid-94552429,width-1200,height-900,resizemode-4,imgsize-27870/air-india-plane.jpg" alt="Flight 2">
      <p>Flight 2</p>
    </div>
    
    <div class="flight" id="flight3">
      <img src="https://images.travelandleisureasia.com/wp-content/uploads/sites/2/2022/02/01135456/Untitled-design.jpg?tr=w-1200,h-900" alt="Flight 3">
      <p>Flight 3</p>
    </div>
    <!-- <div class="flight" id="flight4">
      <img src="https://www.livemint.com/lm-img/img/2023/05/15/600x338/GO-FIRST-AIRWAYS_1684119787105_1684119787490.JPG" alt="Flight 4">
      <p>Flight 4</p> -->
    </div>
  </div>

  <h4>Flight indicators are crucial instruments that provide essential information to pilots for safe and efficient flight operations. These indicators convey vital data about various aspects of the aircraft's performance, systems, and conditions.
    One of the key flight indicators is the fuel gauge, which informs pilots about the amount of fuel remaining in the aircraft's tanks. It allows them to monitor fuel consumption, estimate the range and endurance of the flight, and make critical decisions regarding fuel management and potential refueling stops.
    Altitude indicators, such as an altimeter, display the aircraft's current altitude above sea level. They enable pilots to maintain the desired altitude, comply with airspace restrictions, and navigate safely through varying terrain and weather conditions.</h4>

</body>
</html>

<%- include("footer.ejs"); -%>